/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My Code */
/*HEADER*/
* {
    text-decoration:none;
}
main {
    padding-top: 100px;
}

header {
    position: fixed;
    top: 0;
    right: 0px;
    left:0;
    background-color: #fff;
    width: 100%;
    height:100px;
}
.header-brand {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color:black;
    display:block;
    margin: 0px auto;
    padding: 20px 0;
}
header nav ul {
    display:block;
    margin: 0 auto;
    width: fit-content;
}
header nav ul li {
    display: inline-block;
    float:left;
    list-style: none;
    padding: 0 16px;
}
header nav ul li a {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 20px;
    color:black;
    text-transform: uppercase;
}
header .header-cases {
    display:none;
}
@media only screen and (min-width: 1000px) {
    header .header-brand {
        text-align: left;
        float: left;
        margin: 31px 0;
        padding: 0px 20px 0px 40px;
        border-right: 3px solid #111;
        line-height: 38px;
    }
    header nav ul {
        margin: 20px 0 0px 20px;
        float: left;
    }
    header nav ul li a {
        font-weight: 500;
        line-height: 60px;
    }
    header .header-cases {
        display: block;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 500;
        font-size: 20px;
        color:black;
        text-transform: uppercase;
        line-height: 38px;
        float:right;
        border : 1px solid black;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }
}
/*INDEX*/
.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("img/index9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}
.vertical-center {
    display: table-cell;
    vertical-align: middle;
}
.index-banner h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 60px;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 10px white;
    line-height: 70px;
}
.index-banner h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    font-size: 50px;
    font-style: italic;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 10px white;
    line-height: 40px;
}
.index-links div {
    margin: 16px 16px 0;
    width: calc(100%-32px);
    height: 100px;
    background:#f2f2f2;
}
.index-links div h3 {
    font-family: Catamaran;
    font-weight: 600;
    font-size: 30px;
    color: black;
    text-align: center;
    line-height: 100px;
}
@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    .index-banner {
        height: 400px;
    }
    .index-banner h1 {
        width: 560px;
        display: block;
        margin: 0 auto;
    }
    .index-links {
        overflow: hidden;
    }
    .index-links div {
        margin: 20px 10px 0;
        height: 230px;
        background:#f2f2f2;
        float: left;
    }
    .index-box-sq {
        width: calc(25% - 20px) !important;
    }
    .index-box-re {
        width: calc(50% - 20px) !important;
    }
    .index-links div h3 {
        line-height: 230px;
    }
}
/*CASES*/
.cases-links {
    overflow: hidden;
    margin-bottom: 20px;
}
.cases-links h2 {
    font-family: Catamaran;
    font-weight: 600;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}
.cases-links .cases-link {
    width: 230px;
    height: 230px;
    background-color: #e3e3e3;
    margin: 20px 10px 0;
    float:left;
}

.cases-links .cases-link h3 {
    padding-top: 40%;
    font-family: Catamaran;
    font-weight: 600;
    font-size: 24px;
    color: black;
    text-align: center;
    text-transform: uppercase;
}
.cases-links .cases-contact {
    width: 1000px;
    height: 210px;
    background-color: #e3e3e3;
    margin-top: 20px;
    float:left;

}
.cases-links .cases-contact h3 {
    padding-top: 70px;
    font-family: Catamaran;
    font-weight: 600;
    font-size: 24px;
    color: black;
    text-align: center;
    text-transform: uppercase;
}
.cases-links .cases-contact h4 {
    padding: 30px auto;
    font-family: Catamaran;
    font-weight: 300;
    font-size: 20px;
    color: black;
    text-align: center;
}
/*CASE*/

.case-vid h2 {
    font-family: Catamaran;
    font-weight: 600;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}
.case-vid video {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}
.case-vid article h3 {
    font-family: Catamaran;
    font-weight: 600;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}
.case-vid article div p {
    font-family: Catamaran;
    font-weight: 100;
    font-size: 20px;
    color: black;
    line-height: 24px;
    column-count: 3;
    column-gap: 20px;
    text-align: justify;
    margin: 20px 0;
}
/*GALLERY*/
.gallery-links-h2 {
    font-family: Catamaran;
    font-weight: 600;
    font-size: 28px;
    color: white;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}
.gallery-links {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.gallery-img {
    flex-basis: 90%;
    margin: 10px;
}
.gallery-img img {
    width: 100%;
}
@media only screen and (min-width: 762px) {
    .gallery-links-h2 {
        font-size:28px;
    }
    .gallery-img {
        flex-basis: 250px;
    }
}
/*404*/
.error-404 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
}
.error-404-p {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
/*FOOTER*/
footer {
    width: calc(100%-80px);
    padding: 40px  40px;
    background-color: #111;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: hidden;
}
footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}
footer ul li {
    display: block;
    list-style: none;
}
footer ul li a{
    font-family: Catamaran;
    font-weight: 500;
    font-size: 20px;
    color: white;
    line-height: 36px;
    text-transform: uppercase;
}
.footer2 {
    display: none;
}
.footer-sm {
    width: 50px;
    height: 60px;
    float: right;

}
.footer-sm img {
    width:100%;
    margin-bottom: 10px;
}
@media only screen and (min-width: 1000px) {
    .footer2 {
        display: block;
        }
        footer ul {
        padding-right: 30px;
}
    footer ul li span {
        font-family: Catamaran;
        font-weight: 500;
        font-size: 20px;
        color: white;
        line-height: 36px;
        text-transform: uppercase;
    }
}
