{% load static %}
<div class="col-lg-5">
    <p class="mb-8"> If you are interested in contacting me personally, there are several channels below: </p>
    <ul class="list-unstyled">
      <li class="mb-3"><a class="text-color" href="mailto:locducnguyen2001@gmail.com"><i class="ti-email mr-2"></i>locducnguyen2001@gmail.com</a></li>
      <li class="mb-3"><a class="text-color" href="tel:+84076170477"><i class="ti-mobile mr-2"></i>+84 076 170 477</a></li>
      <li class="mb-3"><a class="text-color" id="fb" href="https://www.facebook.com/profile.fine"><i class="ti-facebook mr-2"></i>Dylan Bergmann</a></li>
      <li class="mb-3"><a class="text-color" id="gh" href="https://github.com/DylanBergmann2502"><i class="ti-github mr-2"></i>Dylan Bergmann</a></li>
    </ul>
</div>