{% extends "main/base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}


{% include "main/page_title_detail_to_list.html" %}

<!-- section -->
<section class="section-sm">
  <div class="container">

    {% include "main/message.html" %}

    <div class="row">
      <div class="col-12 mb-4">
        <!-- course thumb -->
        <img src="{{course.image.url}}" class="img-fluid w-100">
      </div>
    </div>
    <!-- course info -->
    <div class="row align-items-center mb-5">
      <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
        <h2>{{course.course}}</h2>
      </div>
      <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-book text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">COURSES</h6>
                <p class="mb-0">{{course.course_duration}}</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-alarm-clock text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">DURATION</h6>
                <p class="mb-0">{{course.class_duration}}</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-wallet text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">FEE</h6>
                <p class="mb-0">From: {{course.fee}}</p>
              </div>
            </div>
          </li>
          {% if request.user.is_staff == True %}
            <button class="btn btn-info mt-4 mb-8">
              <a class="text-white" href="{% url 'course-update' course.id %}">Update Course</a>
            </button>
            <button class="btn btn-danger mt-4 mb-8 ml-1">
              <a class="text-white" href="{% url 'course-delete' course.id %}">Delete Course</a>
            </button>
          {% endif %}
        </ul>
      </div>
      <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
        <a href="https://github.com/DylanBergmann2502" class="btn btn-primary">Apply now</a>
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- course details -->
    <div class="row">
      <div class="col-12 mb-4">
        <h3>About Course</h3>
        <p>{{course.description}}</p>
      </div>
      <div class="col-12 mb-4">
        <h3 class="mb-3">Requirements</h3>
        <div class="col-12 px-0">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-styled">
                <li>{{course.requirement}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4">
        <h3 class="mb-3">How to Apply</h3>
        <ul class="list-styled">
          <li>{{course.method}}</li>
        </ul>
      </div>
      <div class="col-12 mb-5">
        <h3>Fees and Funding</h3>
        <p>{{course.funding}}</p>
      </div>
      <!-- teacher -->
      <div class="col-12">
        <h5 class="mb-3">Teacher</h5>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="media mb-2 mb-sm-0">
            {% thumbnail course.teacher.image "150x150" crop="center" as im %}
              <a href="{% url 'teacher-detail' course.teacher.id %}">
                <img class="mr-4 img-fluid" id="im" src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}" alt="Teacher">
              </a>
            {% endthumbnail %}
            <div class="media-body">
              <h4 class="mt-0"><a class="text-dark" href="{% url 'teacher-detail' course.teacher.id %}">{{course.teacher.user.full_name}}</a></h4>
              <a class="text-secondary" href="{% url 'major-list' %}">{{course.teacher.major.major}}</a>
            </div>
          </div>
          <div class="social-link">
            <h6 class="d-none d-sm-block">Social Link</h6>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="d-inline-block text-light p-1" id='fb' href="{{course.teacher.facebook}}/"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block text-light p-1" id="tw" href="{{course.teacher.twitter}}"><i class="ti-twitter-alt"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="border-bottom border-primary mt-4"></div>
      </div>
    </div>
  </div>
</section>
<!-- /section -->

<!-- related course -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Related Course</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- course item -->
      {% for course in related_courses %}
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="{{course.image.url}}" alt="course thumb">
            <div class="card-body">
              <ul class="list-inline mb-2">
                <li class="list-inline-item"><a class="text-color" href="{% url 'major-list' %}">{{course.major.major}}</a></li>
              </ul>
              <a href="{% url 'course-detail' course.id %}">
                <h4 class="card-title">{{course.course}}</h4>
              </a>
              <p class="card-text mb-4">{{course.description|truncatechars:110}}</p>
              <a href="https://github.com/DylanBergmann2502" class="btn btn-primary btn-sm">Apply now</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>
<!-- /related course -->
{% endblock content %}