* {
    padding: 0;
    margin: 0;
}
.img-test {
    width: 500px;
    height: 500px;
    background-image: url("img/mu.webp");
    background-size: cover;
    background-repeat: no-repeat;

    transition: all 2s ease-in 1s;
    -webkit-transition: all 2s ease-in 1s;
    -moz-transition: all 2s ease-in 1s;
    -o-transition: all 2s ease-in 1s;
    /*
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 2s;
    */
}

.img-test:hover {
    background-image: url("img/mu home.jpg");
}

.button-test {
    display: block;
    width: 128px;
    height: 60px;
    padding-left: 20px;
    background-color: lightblue;
    font-size: 20px;
    font-family: arial;
    font-weight: 600;
    color: #222;
    line-height: 60px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.button-test:hover {
    width: 170px;
    height: 300px;
    padding-left: 500px;
    background-color: gray;
}

.button-test span {
    padding-left: 30px;
    color: white;
    font-weight: 900;

}